form{
    width: 80%;
    min-height: 300px;
    border: 3px solid gray;
    margin: 50px auto;
    .select_files{
        position: absolute;
        top: 50%;
        left: 45%;
    }
    .upload_button{
        position: absolute;
        bottom: 0;
        left: 45%;
        width: 100px;
        height: 30px;
        margin: 10px;
        background: lightcoral;
        border-radius: 50px;
    }
    img{
        max-width: 100px;
        margin: 10px;
    }
}