.visible{
    display: table;
}
.disable{
    display: none;
}

#CategoryAndTag{
    width: 100%;
    div{
        padding-bottom: 10px;
    }
    .column{
        border-bottom: 1px dotted ;
        padding: 30px;
        .value{
            padding:5px 12px;
            border: 1px solid #7d7d7d;
            color: gray;
            border-radius: 20px;
            margin: 5px;
        }
    }
}