.visible{
    display: table;
}
.disable{
    display: none;
}
#order_list_home{
    margin: 0 auto;
    .hEvedf {
        background-color: white !important;
        height: 100% !important;
    }
    .smooth-dnd-draggable-wrapper{
        padding: 10px;
        background: white;
        border-radius: 20px;
        margin-bottom: 5px;
        text-align: center;
    }
    .Image{
        width: 80%
    }
    img{
        // width: 100%;
        height: 150px;
        border-radius: 20px;
    }
}
