.Bucket {
  svg.close_icon {
    position: absolute;
    right: 10px;
    width: 40px;
  }
  svg.close_icon:hover {
    color: skyblue;
  }
  .existingBuckets {
    button {
      border: 1px solid #a3a3a3;
      padding: 4px 10px;
      border-radius: 20px;
      margin: 6px 8px 4px 0;
    }
  }
  .AddBucket {
    margin-top: 20px;
  }
  .modal_content {
    .description {
      width: 100% !important;
    }
  }
  .existingBuckets {
    button {
      border: 0;
      padding: 4px 0px 4px 10px;
      border-radius: 20px;
      margin: 6px 8px 4px 0;
      background: white;
      color: black;
      cursor: pointer;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
      font-size: 11px;
      i.icon{
        margin-left: 5px;
      }
      i.icon:hover {
        color: red;
      }
    }
    
  }
}
