.ui.VerticalSidebar.menu{
    width: 18% !important;
    background: darkslategrey !important;
    margin-top: 93px !important;
}

@media (min-width: 993px) and (max-width: 1220px) {
    .ui.VerticalSidebar.menu{
        width: 18% !important;
        margin-top: 102px !important
    }
}