.visible{
    display: table;
}
.disable{
    display: none;
}

#PhotoContent{
   .admin_photolist{
       min-width: 150px;
       height: 815px;
       overflow: scroll;
       img{
           width: 100%;
           height: auto;
       }
       
   }
   .keywords{
    button{
        border: 1px solid #A3A3A3;
        padding: 4px 10px;
        border-radius: 20px;
        margin: 6px 8px 4px 0;
    }
}
}